<link rel="stylesheet" href="/css/home.css">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
<!-- --------------------------------JUMBORTON WITH BACKGROUND---------------------- -->
<div class="home">

  <div class="jumbotron"
    style="background-image: url('/images/cover1.PNG'); height: 800px; background-repeat:no-repeat; background-size:cover">



  </div>


  <!-- ---------------------------FIRST TEXT--------------------- -->

  <div class="first_text">
    <h1>NIKE SHOES SHOP</h1>
  </div>
  <div class="first_text_para">
    <p>Functional details are just the beginning. The real plot twist comes in the collective—the unexpected union of
      rich fabrics and striking colors.
    </p>
  </div>
  <form class="" action="/views/explore.ejs" method="post">


    <div class="explore">
      <a href="explore" type="button" class="btn btn-dark" name="explore">Explore</a>


    </div>
  </form>


  <!-- -----------------------CAROUSEL----------------------- -->


  <div class="carousel">
    <hr>

    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="/images/carousel3.jpg" alt="First slide" style="height:500px">
            <div class="mask rgba-black-light"></div>
          </div>

        </div>
        <div class="carousel-item">

          <div class="view">
            <img class="d-block w-100" src="/images/carousel.PNG" alt="Second slide" style="height:500px">
            <div class="mask rgba-black-strong"></div>
          </div>

        </div>

      </div>
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>


  </div>

  <!-- -----------------------TOP SHOES---------------- -->

  <div class="top w3-content w3-container w3-padding-30">
    <h4 class="w3-center w3-text-black">NEW SHOES</h4>
    <p class="w3-center w3-text-black">Discover the latest chapter of the colleciton.</p>

    <div class="w3-col m5 w3-container">

      <p>
      <ul class="para w3-card-4 w3-ul w3-hoverable">
        <h4>Nike Metcon 6</h4>

        The most breathable version yet, the Nike Metcon 6 helps keep your foot cool when you're going full steam. It
        stands up to the push and pull of heavily weighted and high-intensity workouts, delivering stability and
        durability.

        <br>

      </ul>
      </p>

    </div>
    <div class="w3-col m4 w3-container w3-section">
      <div class="w3-large w3-margin-bottom"><img src="/images/best1.PNG"></div>
    </div>
  </div>


  <div class="w3-content w3-container w3-padding-30">


    <div class="w3-col m5 w3-container">

      <p>
      <ul class="para w3-card-4 w3-ul w3-hoverable">
        <h4>Nike Flexmethod TR</h4>
        The Nike Flexmethod TR is one of the lighter training shoes available. Ideal for bodyweight exercises at the
        gym,
        it provides a natural feel while enhancing stability.


      </ul>
      </p>

    </div>
    <div class="w3-col m4 w3-container w3-section">
      <div class="w3-large w3-margin-bottom"><img src="/images/best2.PNG"></div>
    </div>
  </div>

  <div class="w3-content w3-container w3-padding-30">

    <div class="w3-col m5 w3-container">

      <p>
      <ul class="para w3-card-4 w3-ul w3-hoverable">
        <h4>Nike Romaleos 4 SE</h4>
        Strong and stable, the Nike Romaleos 4 SE features a wide, stable base and supportive cushioning for your
        toughest
        weight training and HIIT sessions. Adjustable straps secure your foot to keep you locked in and ready to go.


      </ul>
      </p>

    </div>
    <div class="w3-col m4 w3-container w3-section">
      <div class="w3-large w3-margin-bottom"><img src="/images/best3.PNG"></div>
    </div>
  </div>

  <div class="jumbotron"
    style="background-image: url('/images/cover2.PNG'); height: 800px; background-repeat:no-repeat; background-size:cover">



  </div>
</div>