<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>


  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>

  <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

  <nav class="">
    <div class="logo">
      <img src="/images/tick.png" alt="logo">
      <a class="navbar-brand n" href="/" style="color:black">NIKE</a>

    </div>
    <div class="store">
      <h3>Nike Store</h3>
    </div>
    <div class="navlinks">
      <ul class="navbaritems navbar">
        <li class="navitem navitemlink"><a href="/explore">Explore</a></li>
        <li class="navitem navitemlink"><a href="/customer/orders">Orders</a></li>

        <% if(user ){ %>
        <li class="navitem navitemlink"><a href="/profile">Welcome</a></li>
        <li class="navitem navitemlink">
          <form action="/logout" method="POST" id="logout">
            <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
        </li>
        </form>
        <%} else {%>
        <li class="navitem navitemlink"><a href="/register">Register</a></li>
        <li class="navitem navitemlink"><a href="/login">Login</a></li>
        <%}%>
          

       
        <li class="navitem cartposition"><a href="/cart" class="cartimage">
          <div class="cartstuff"> 
          <span id="cartCounter"> <%=session.cart ? session.cart.totalQty : 0 %></span>
        <i class="fas fa-shopping-cart shoppincartimage temp"></i>
    </div>
    </a></li>

    </ul>
    </div>
  </nav>
  <%- body %>













</body>

</html>