<style>
    h1 {
        text-align: center;
        align-items: center;
        justify-content: center;
        color: lightgray;
        font-size: 80px;

        margin: auto auto;
    }
</style>

<h1>404 Page Not Found</h1>