<div class="container">
    <form method="POST" action="deleteshoes">

        <div class="form-group field">
            <label for="name">Shoe id </label>
            <input type="text" class="form-control hide " name="_id">
        </div>
        <button type="submit" class="btn btn-dark">Delete shoe</button>

    </form>
</div>